<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @enclave.Name %>
</p>

<p>
  <b>Long name:</b>
  <%= @enclave.long_name %>
</p>

<p>
  <b>Sort order:</b>
  <%= @enclave.sort_order %>
</p>

<p>
  <b>Active:</b>
  <%= @enclave.active %>
</p>

<p>
  <b>Created at:</b>
  <%= @enclave.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @enclave.updated_at %>
</p>


<%= link_to 'Edit', edit_enclave_path(@enclave) %> |
<%= link_to 'Back', enclaves_path %>
