
.yui-g
  .yui-u.first
    = render :partial => 'metrics_view'
    = render :partial => 'cf_select'
    = render :partial => 'c_select'
    = render :partial => 'cc_view'
  .yui-u.second
    = render :partial => 'encontr_select'
    = render :partial => 'ec_view'

