<p id="notice"><%= notice %></p>

<p>
  <b>Originalid:</b>
  <%= @cybercontrol.originalID %>
</p>

<p>
  <b>Revision:</b>
  <%= @cybercontrol.Revision %>
</p>

<p>
  <b>Controlnumber:</b>
  <%= @cybercontrol.controlNumber %>
</p>

<p>
  <b>Parentcontrolkey:</b>
  <%= @cybercontrol.parentControlKey %>
</p>

<p>
  <b>Controlfamilycode:</b>
  <%= @cybercontrol.controlFamilyCode %>
</p>

<p>
  <b>Controlname:</b>
  <%= @cybercontrol.controlName %>
</p>

<p>
  <b>Controltype:</b>
  <%= @cybercontrol.controlType %>
</p>

<p>
  <b>Enhancement:</b>
  <%= @cybercontrol.enhancement %>
</p>

<p>
  <b>Controldescription:</b>
  <%= @cybercontrol.controlDescription %>
</p>

<p>
  <b>Impactlevel:</b>
  <%= @cybercontrol.impactLevel %>
</p>

<p>
  <b>Criticalcontrol:</b>
  <%= @cybercontrol.criticalControl %>
</p>

<p>
  <b>Guidance:</b>
  <%= @cybercontrol.guidance %>
</p>

<p>
  <b>Quarterly:</b>
  <%= @cybercontrol.quarterly %>
</p>

<p>
  <b>Priority:</b>
  <%= @cybercontrol.priority %>
</p>

<p>
  <b>Withdrawn:</b>
  <%= @cybercontrol.withdrawn %>
</p>

<p>
  <b>Created At:</b>
  <%= @cybercontrol.created_at %>
</p>

<p>
  <b>Updated At:</b>
  <%= @cybercontrol.updated_at %>
</p>



<%= link_to 'Edit', edit_cybercontrol_path(@cybercontrol) %> |
<%= link_to 'Back', cybercontrols_path %>
