<h1>Listing Config Values</h1>

<table>
  <tr>
    <th>Name</th>
    <th>String Value</th>
    <th>Int Value</th>
    <th>Date Value</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @configvalues.each do |configvalue| %>
  <tr>
    <td><%= configvalue.name %></td>
    <td><%= configvalue.value %></td>
    <td><%= configvalue.ivalue %></td>
    <td><%= configvalue.dvalue %></td>
    <td><%= configvalue.created_at %></td>
    <td><%= configvalue.updated_at %></td>
    <td><%= link_to 'Show', configvalue %></td>
    <td><%= link_to 'Edit', edit_configvalue_path(configvalue) %></td>
    <td><%= button_to 'Destroy', configvalue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Configvalue', new_configvalue_path %>
